body,#page,#leftbar,#rightbar{
    font-family:'Comic Sans','Comic Sans MS', cursive !important;
    color:pink !important;
    background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTR1gJ_H14MhgcYF8wVfheLe_xY6F7QK2Z-MRnA78VY0AxwAO3vNg')!important;
}